---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Refactored Human">
  <main class="p-8">
    <h1 class="text-4xl">Refactored Human</h1>

    <p class="mt-4 max-w-screen-sm">
      Hello, I am Michée, I love computers and programming. If I am not on my
      computers, I am probably making pastries.
    </p>
  </main>
</Layout>
